* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgba(252, 240, 222, 0.822);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    width: 60%;
    height: 8em;
    background: rgb(255, 255, 255); 
    justify-content:center;
    align-items: center;
    margin: 0 auto;
    font: italic bold 27px Georgia, Serif;
    text-shadow: -3px 4px 3px #ff0000, -4px 9px 2px #ff0000;
}

.title h1 {
    font-size:5em;
    color: rgb(255, 233, 32);
}


.images{
    width: 60%;
    background: rgb(255, 255, 255);
}

/* .carousel{
    display: flex;
    justify-content: center;
    background-color: aqua;
}

.carousel .slide img {
    height: 100em;
    width: 10em;
}

.carousel-root{
    height: 100em;
}  */